@model TkanicaWebApp.ViewModels.PageViewModel<Member>

@{
    ViewData["Title"] = "Članovi";
}

<h1>Lista članova</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="idAsc" asp-route-currentSort="@Model.CurrentSort">Id</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="firstNameAsc" asp-route-currentSort="@Model.CurrentSort">Ime</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="lastNameAsc" asp-route-currentSort="@Model.CurrentSort">Prezime</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="dateOfBirthAsc" asp-route-currentSort="@Model.CurrentSort">Datum rođenja</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="dateOfEntryAsc" asp-route-currentSort="@Model.CurrentSort">Datum upisa</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="activeAsc" asp-route-currentSort="@Model.CurrentSort">Aktivan</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="phoneAsc" asp-route-currentSort="@Model.CurrentSort">Telefon</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="emailAsc" asp-route-currentSort="@Model.CurrentSort">Email</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="memberGroupAsc" asp-route-currentSort="@Model.CurrentSort">Grupa</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="debtAmountAsc" asp-route-currentSort="@Model.CurrentSort">Dugovanje</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="rehearsalsAsc" asp-route-currentSort="@Model.CurrentSort">Broj proba</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
            string active = item.Active ? "da" : "ne";
            int rehearsalCount = item.RehearsalMembers.Count;
            decimal debtAmount = item.Transactions.Where(x => x.TransactionTypeId == 1 && !x.Paid).Sum(x => x.Amount);
            <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipFee.MemberGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => debtAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rehearsalCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
