@model IEnumerable<TkanicaWebApp.Models.Member>

@{
    ViewData["Title"] = "Članovi";
}

<h1>Lista članova</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Datum rođenja
            </th>
            <th>
                Datum upisa
            </th>
            <th>
                Aktivan
            </th>
            <th>
                Telefon
            </th>
            <th>
                Email
            </th>
            <th>
                Grupa
            </th>
            <th>
                Dugovanje
            </th>
            <th>
                Broj proba
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            string active = item.Active ? "da" : "ne";
            int rehearsalCount = item.RehearsalMembers.Count;
            decimal debtAmount = item.Transactions.Where(x => x.TransactionTypeId == 1 && !x.Paid).Sum(x => x.Amount);
            <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipFee.MemberGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => debtAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rehearsalCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
