@model TkanicaWebApp.Models.Employee

@{
    ViewData["Title"] = "Podaci o zaposlenom";
    var earningType = Model.EarningType.Name;
    var payPeriod = Model.PayPeriod.Name;
    int rehearsalsCount = Model.RehearsalEmployees.Count(x => x.Rehearsal.Date.Month == DateTime.UtcNow.Month && x.Rehearsal.Date.Year == DateTime.UtcNow.Year);
    List<Rehearsal> rehearsals = Model.RehearsalEmployees.Select(x => x.Rehearsal).Where(x => x.Date.Month == DateTime.UtcNow.Month && x.Date.Year == DateTime.UtcNow.Year).ToList();
    string isActive = Model.Active ? "da" : "ne";
}

<h1>Podaci o zaposlenom</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ime
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Prezime
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Pozicija
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Datum rođenja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            Početak zaposlenja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Kraj zaposlenja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            Aktivan
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => isActive)
        </dd>
        <dt class = "col-sm-2">
            Vrsta zarade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => earningType)
        </dd>
        <dt class = "col-sm-2">
            Iznos zarade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarningAmount)
        </dd>
        <dt class = "col-sm-2">
            Period plaćanja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => payPeriod)
        </dd>
        <dt class = "col-sm-2">
            Dodatni troškovi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherExpenses)
        </dd>
        <dt class = "col-sm-2">
            Opis dodatnih troškova
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherExpensesDescription)
        </dd>
        <dt class = "col-sm-2">
            Datum izmene
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            Grupe članova:
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var group in Model.EmployeeMemberGroups)
                {
                    string name = group.MemberGroup.Name;
                    <li>
                        <a asp-controller="MemberGroups" asp-action="Details" asp-route-id="@group.MemberGroupId">@Html.DisplayFor(model => name)</a>
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Broj proba ovog meseca
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => rehearsalsCount)
        </dd>
        <dt class="col-sm-2">
            Probe:
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var rehearsal in rehearsals)
                {
                    string name = $"{rehearsal.Date.ToString("d")} ({rehearsal.RehearsalMembers.First().Member.MembershipFee.MemberGroup.Name})";
                    <li>
                        <a asp-controller="Rehearsals" asp-action="Details" asp-route-id="@rehearsal.Id">@Html.DisplayFor(model => name)</a>
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Transakcije:
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var transaction in Model.Transactions)
                {
                    string transactionText = (transaction.TransactionNumber != "" ? transaction.TransactionNumber : "") + (!transaction.Paid ? " (neplaćena)" : "") + " (" + transaction.TransactionType.Name + ")" + (transaction.TransactionTypeId == 2 ? $" ({transaction.Description})" : "");
                    <li>
                        <a asp-controller="Transactions" asp-action="Details" asp-route-id="@transaction.Id">@Html.DisplayFor(model => transactionText)</a>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Izmena</a> |
    <a asp-action="Index">Povratak na listu</a>
</div>
