@model TkanicaWebApp.ViewModels.PageViewModel<Employee>

@{
    ViewData["Title"] = "Lista zaposlenih";
}

<h1>Lista zaposlenih</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="firstNameAsc" asp-route-currentSort="@Model.CurrentSort">Ime</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="lastNameAsc" asp-route-currentSort="@Model.CurrentSort">Prezime</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="titleAsc" asp-route-currentSort="@Model.CurrentSort">Pozicija</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="dateOfBirthAsc" asp-route-currentSort="@Model.CurrentSort">Datum rođenja</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="startDateAsc" asp-route-currentSort="@Model.CurrentSort">Početak zaposlenja</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="endDateAsc" asp-route-currentSort="@Model.CurrentSort">Kraj zaposlenja</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="activeAsc" asp-route-currentSort="@Model.CurrentSort">Aktivan</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="earningTypeAsc" asp-route-currentSort="@Model.CurrentSort">Vrsta zarade</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="earningAmountAsc" asp-route-currentSort="@Model.CurrentSort">Iznos zarade</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="payPeriodAsc" asp-route-currentSort="@Model.CurrentSort">Period plaćanja</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="otherExpensesAsc" asp-route-currentSort="@Model.CurrentSort">Ostali troškovi</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="otherExpensesDescriptionAsc" asp-route-currentSort="@Model.CurrentSort">Opis ostalih troškova</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="employeeMemberGroupsCountAsc" asp-route-currentSort="@Model.CurrentSort">Broj angažovanja</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="rehearsalsCountAsc" asp-route-currentSort="@Model.CurrentSort">Broj proba</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
            int groupsCount = item.EmployeeMemberGroups.Count;
            string earningType = item.EarningType.Name;
            string payPeriod = item.PayPeriod.Name;
            int rehearsalsCount = item.RehearsalEmployees.Count;
            string isActive = item.Active ? "da" : "ne";
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => isActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => earningType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarningAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => payPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherExpenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherExpensesDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => groupsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rehearsalsCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
