@model IEnumerable<TkanicaWebApp.Models.AccountNumber>

@{
    ViewData["Title"] = "Lista brojeva računa";
}

<h1>Lista brojeva računa</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Broj računa
            </th>
            <th>
                Banka
            </th>
            <th>
                Vlasnik
            </th>
            <th>
                Broj transakcija
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string owner = item.CreditorId != null ?
        item.Creditor.Name : item.DebtorId != null ?
        item.Debtor.Name : item.BalanceId != null ?
        item.Balance.Name : "Nema vlasnika";
    int transactionsCount = item.CreditorId != null ?
        item.Creditor.Transactions.Count : item.DebtorId != null ?
        item.Debtor.Transactions.Count : item.BalanceId != null ?
        item.Balance.Transactions.Count : 0;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transactionsCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
