@model TkanicaWebApp.ViewModels.PageViewModel<AccountNumber>

@{
    ViewData["Title"] = "Brojevi računa";
}

<h1>Lista brojeva računa</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="accountNumberAsc" asp-route-currentSort="@Model.CurrentSort">Broj računa</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="bankAsc" asp-route-currentSort="@Model.CurrentSort">Banka</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="ownerAsc" asp-route-currentSort="@Model.CurrentSort">Vlasnik</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="incomingTransactionsCountAsc" asp-route-currentSort="@Model.CurrentSort">Broj dolaznih transakcija</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="outgoingTransactionsCountAsc" asp-route-currentSort="@Model.CurrentSort">Broj odlaznih transakcija</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
    string owner = item.ClientId != null ?
        item.Client.Name : item.BalanceId != null ?
        item.Balance.Name : "Nema vlasnika";
    int incomingTransactionsCount = item.ClientId != null ?
        item.Client.CreditorTransactions.Count : item.BalanceId != null ?
        item.Balance.Transactions.Count(x => x.TransactionType.Direction == 1) : 0;
    int outgoingTransactionsCount = item.ClientId != null ?
        item.Client.DebtorTransactions.Count : item.BalanceId != null ?
        item.Balance.Transactions.Count(x => x.TransactionType.Direction == -1) : 0;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => incomingTransactionsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => outgoingTransactionsCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
