@model IEnumerable<TkanicaWebApp.Models.Balance>

@{
    ViewData["Title"] = "Lista računa";
}

<h1>Lista računa</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Broj računa
            </th>
            <th>
                Keš
            </th>
            <th>
                Broj transakcija
            </th>
            <th>
                Stanje
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string isCash = item.IsCash ? "da" : "ne";
    int transactionsCount = item.Transactions.Count;
    decimal balanceAmount = item.Transactions.Where(x => x.Paid).Sum(x => x.Amount * x.TransactionType.Direction);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber.BankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => isCash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transactionsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => balanceAmount)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
