@model TkanicaWebApp.ViewModels.PageViewModel<Balance>

@{
    ViewData["Title"] = "Lista računa";
}

<h1>Lista računa</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<p>
     <form asp-action="Index" asp-route-search="@Model.Search">
        <div class="form-actions no-color">
            <p>
                Pretraga
                <input asp-for="@Model.Search" class="form-control" />
                <span asp-validation-for="@Model.Search" class="text-danger"></span>
            </p>
        </div>
     </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="nameAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Naziv</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="accountNumberAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search"asp-route-pageIndex="@Model.PageIndex">Broj računa</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="isCashAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Keš</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="transactionsCountAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Broj transakcija</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="balanceAmountAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Stanje</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
    string isCash = item.IsCash ? "da" : "ne";
    int transactionsCount = item.Transactions.Count;
    decimal balanceAmount = item.Transactions.Where(x => x.Paid).Sum(x => x.Amount * x.TransactionType.Direction);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber.BankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => isCash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transactionsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => balanceAmount)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sort="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PageIndex - 1)"
   asp-route-search="@Model.Search"
   class="btn btn-primary @prevDisabled">
    Prethodno
</a>
<a asp-action="Index"
   asp-route-sort="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PageIndex + 1)"
   asp-route-search="@Model.Search"
   class="btn btn-primary @nextDisabled">
    Sledeće
</a>
