@model TkanicaWebApp.Models.MemberGroup

@{
    ViewData["Title"] = "Brisanje grupe članova";
    string active = Model.Active ? "da" : "ne";
    int activeCount = Model.MembershipFees.SelectMany(x => x.Members).DistinctBy(x => x.Id).Count(x => x.Active);
    int totalCount = Model.MembershipFees.SelectMany(x => x.Members).DistinctBy(x => x.Id).Count();
}

<h1>Brisanje grupe članova</h1>

<h3>Da li ste sigurni da želite da obrišete grupu?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naziv
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Aktivna
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => active)
        </dd>
        <dt class = "col-sm-2">
            Datum kreiranja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            Datum izmene
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            Broj aktivnih članova
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => activeCount)
        </dd>
        <dt class="col-sm-2">
            Ukupan broj članova
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => totalCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Brisanje" class="btn btn-danger" /> |
        <a asp-action="Index">Povratak na listu</a>
    </form>
</div>
