@model TkanicaWebApp.Models.MemberGroup

@{
    ViewData["Title"] = "Podaci o grupi članova";
    string active = Model.Active ? "da" : "ne";
    int activeCount = Model.MembershipFees.SelectMany(x => x.Members).DistinctBy(x => x.Id).Count(x => x.Active);
    int totalCount = Model.MembershipFees.SelectMany(x => x.Members).DistinctBy(x => x.Id).Count();
    var activeMembers = Model.MembershipFees.SelectMany(x => x.Members).DistinctBy(x => x.Id).ToList();
    var employeeCount = Model.EmployeeMemberGroups.Count;
    var employees = Model.EmployeeMemberGroups.Select(x => x.Employee).ToList();
    var rehearsals = Model.MembershipFees.SelectMany(x => x.Members).SelectMany(x => x.RehearsalMembers).ToList().DistinctBy(x => x.RehearsalId).Select(x => x.Rehearsal).ToList();
    int rehearsalCount = rehearsals.Count;
}

<h1>Podaci o grupi članova</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naziv
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Aktivna
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => active)
        <dt class = "col-sm-2">
            Datum kreiranja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            Datum izmene
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            Broj aktivnih članova
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => activeCount)
        </dd>
        <dt class="col-sm-2">
            Ukupan broj članova
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => totalCount)
        </dd>
        <dt class="col-sm-2">
            Broj zaposlenih
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => totalCount)
        </dd>
         <dt class="col-sm-2">
            Broj proba
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => rehearsalCount)
        </dd>
        <dt class="col-sm-2">
            Zaposleni:
        </dt>
        <dd class="col-sm-10">
            <ul>
                    @foreach (var employee in employees)
                    {
                        string name = $"{employee.FirstName} {employee.LastName}";
                    <li>
                        <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">@Html.DisplayFor(model => name)</a>
                    </li>
                    }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Aktivni članovi:
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var member in activeMembers)
                {
                    string name = $"{member.FirstName} {member.LastName}";
                    <li>
                        <a asp-controller="Members" asp-action="Details" asp-route-id="@member.Id">@Html.DisplayFor(model => name)</a>
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Probe:
        </dt>
        <dd class="col-sm-10">
            <ul>
                    @foreach (var rehearsal in rehearsals)
                    {
                    <li>
                        <a asp-controller="Rehearsals" asp-action="Details" asp-route-id="@rehearsal.Id">@Html.DisplayFor(model => rehearsal.Date)</a>
                    </li>
                    }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Izmeni</a> |
    <a asp-action="Index">Povratak na listu</a>
</div>
