@model TkanicaWebApp.ViewModels.PageViewModel<MemberGroup>

@{
    ViewData["Title"] = "Grupe članova";
}

<h1>Lista grupa članova</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<p>
     <form asp-action="Index" asp-route-search="@Model.Search">
        <div class="form-actions no-color">
            <p>
                Pretraga
                <input asp-for="@Model.Search" class="form-control" />
                <span asp-validation-for="@Model.Search" class="text-danger"></span>
            </p>
        </div>
     </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="nameAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Naziv</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="activeAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Aktivna</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="createdAtAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Datum kreiranja</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="activeMembersCountAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Broj aktivnih članova</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="membersCountAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Ukupan broj članova</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="employeesCountAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Broj zaposlenih</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="rehearsalsCountAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search"asp-route-pageIndex="@Model.PageIndex">Broj proba</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
            string active = item.Active ? "da" : "ne";
            int activeCount = item.MembershipFees.SelectMany(x => x.Members).DistinctBy(x => x.Id).Count(x => x.Active);
            int totalCount = item.MembershipFees.SelectMany(x => x.Members).DistinctBy(x => x.Id).Count();
            int employeeCount = item.EmployeeMemberGroups.Count;
            int rehearsalCount = item.MembershipFees.SelectMany(x => x.Members).SelectMany(x => x.RehearsalMembers).ToList().DistinctBy(x => x.RehearsalId).Count();
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => activeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => totalCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employeeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rehearsalCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sort="@Model.CurrentSort"
   asp-route-pageIndex=@(Model.PageIndex - 1)
   asp-route-search="@Model.Search"
   class="btn btn-primary @prevDisabled">
    Prethodno
</a>
<a asp-action="Index"
   asp-route-sort="@Model.CurrentSort"
   asp-route-pageIndex=@(Model.PageIndex + 1)
   asp-route-search="@Model.Search"
   class="btn btn-primary @nextDisabled">
    Sledeće
</a>