@model TkanicaWebApp.ViewModels.PageViewModel<Rehearsal>

@{
    ViewData["Title"] = "Lista proba";
}

<h1>Lista proba</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="dateAsc" asp-route-currentSort="@Model.CurrentSort">Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="memberGroupAsc" asp-route-currentSort="@Model.CurrentSort">Grupa</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="employeesCountAsc" asp-route-currentSort="@Model.CurrentSort">Broj zaposlenih</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="membersCountAsc" asp-route-currentSort="@Model.CurrentSort">Broj članova</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
            var memberGroup = item.RehearsalMembers.Select(x => x.Member.MembershipFee.MemberGroup).FirstOrDefault();
            var employeeCount = item.RehearsalEmployees.Count;
            var memberCount = item.RehearsalMembers.Count;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => memberGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employeeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => memberCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
