@model IEnumerable<TkanicaWebApp.Models.Rehearsal>

@{
    ViewData["Title"] = "Lista proba";
}

<h1>Lista proba</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Grupa
            </th>
            <th>
                Broj zaposlenih
            </th>
            <th>
                Broj članova
            </th>
            <th>
                Datum kreiranja
            </th>
            <th>
                Datum izmene
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var memberGroup = item.RehearsalMembers.Select(x => x.Member.MembershipFee.MemberGroup).FirstOrDefault();
            var employeeCount = item.RehearsalEmployees.Count;
            var memberCount = item.RehearsalMembers.Count;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => memberGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employeeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => memberCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
