@model TkanicaWebApp.ViewModels.PageViewModel<EmployeeMemberGroup>

@{
    ViewData["Title"] = "Lista angažovanja";
}

<h1>Lista angažovanja</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<p>
    <form asp-action="Index" asp-route-search="@Model.Search">
        <div class="form-actions no-color">
            <p>
                Pretraga
                <input asp-for="@Model.Search" class="form-control" />
                <span asp-validation-for="@Model.Search" class="text-danger"></span>
            </p>
        </div>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="employeeAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Zaposleni</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="memberGroupAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Grupa članova</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="createdAtAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Datum kreiranja</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
            string employeeName = $"{item.Employee.FirstName} {item.Employee.LastName}";
            string groupName = item.MemberGroup.Name;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => employeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => groupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sort="@Model.CurrentSort"
   asp-route-pageIndex=@(Model.PageIndex - 1)
   asp-route-search="@Model.Search"
   class="btn btn-primary @prevDisabled">
    Prethodno
</a>
<a asp-action="Index"
   asp-route-sort="@Model.CurrentSort"
   asp-route-pageIndex=@(Model.PageIndex + 1)
   asp-route-search="@Model.Search"
   class="btn btn-primary @nextDisabled">
    Sledeće
</a>