@model TkanicaWebApp.Models.Transaction

@{
    ViewData["Title"] = "Podaci o transakciji";
    string paid = Model.Paid ? "da" : "ne";
    string debtor = Model.MemberId.HasValue ?
        Model.Member.FullName : Model.DebtorId.HasValue ?
        Model.Debtor.Name : @"KUD ""Pargar""";
    string debtorController = Model.MemberId.HasValue ?
        "Members" : Model.DebtorId.HasValue ?
        "Clients" : "Balances";
    int debtorId = Model.MemberId.HasValue ?
        Model.MemberId!.Value : Model.DebtorId.HasValue ?
        Model.DebtorId!.Value : Model.BalanceId;
    string creditor = Model.EmployeeId.HasValue ?
        Model.Employee.FullName : Model.CreditorId.HasValue ?
        Model.Creditor.Name : @"KUD ""Pargar""";
    string creditorController = Model.EmployeeId.HasValue ?
        "Employees" : Model.CreditorId.HasValue ?
        "Clients" : "Balances";
    int creditorId = Model.EmployeeId.HasValue ?
        Model.EmployeeId!.Value : Model.CreditorId.HasValue ?
        Model.CreditorId!.Value : Model.BalanceId;
}

<h1>Podaci o transakciji</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Broj transakcije
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionNumber)
        </dd>
        <dt class = "col-sm-2">
            Vrsta transakcije
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType.Name)
        </dd>
        <dt class = "col-sm-2">
            Račun
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="Balances" asp-action="Details" asp-route-id="@Model.Balance.Id">@Html.DisplayFor(model => model.Balance.Name)</a>
        </dd>
        <dt class = "col-sm-2">
            Uplatilac
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="@debtorController" asp-action="Details" asp-route-id="@debtorId">@Html.DisplayFor(model => debtor)</a>
        </dd>
        <dt class = "col-sm-2">
            Primalac
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="@creditorController" asp-action="Details" asp-route-id="@creditorId">@Html.DisplayFor(model => creditor)</a>
        </dd>
        <dt class = "col-sm-2">
            Poziv na broj
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceNumber)
        </dd>
        <dt class = "col-sm-2">
            Iznos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            Opis
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Realizovano
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => paid)
        </dd>
        <dt class = "col-sm-2">
            Datum transakcije
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            Datum plaćanja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Izmena</a> |
    <a asp-action="Index">Povratak na listu</a>
</div>
