@model TkanicaWebApp.ViewModels.PageViewModel<Transaction>

@{
    ViewData["Title"] = "Transakcije";
}

<h1>Lista transakcija</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<p>
    <form asp-action="Index" asp-route-search="@Model.Search">
        <div class="form-actions no-color">
            <p>
                Pretraga
                <input asp-for="@Model.Search" class="form-control" />
                <span asp-validation-for="@Model.Search" class="text-danger"></span>
            </p>
        </div>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="transactionNumberAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Broj transakcije</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="transactionTypeAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Vrsta transakcije</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="balanceAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Račun</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="debtorAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Uplatilac</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="creditorAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Primalac</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="referenceNumberAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Poziv na broj</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="amountAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Iznos</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="descriptionAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Opis</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="isPaidAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Realizovano</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="transactionDateAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Datum transakcije</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="paidDateAsc" asp-route-currentSort="@Model.CurrentSort" asp-route-search="@Model.Search" asp-route-pageIndex="@Model.PageIndex">Datum plaćanja</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
            string paid = item.Paid ? "da" : "ne";
            string debtor = item.MemberId.HasValue ?
                item.Member.FullName : item.DebtorId.HasValue ?
                item.Debtor.Name : @"KUD ""Pargar""";
            string creditor = item.EmployeeId.HasValue ?
                item.Employee.FullName : item.CreditorId.HasValue ?
            item.Creditor.Name : @"KUD ""Pargar""";

            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => debtor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => creditor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sort="@Model.CurrentSort"
   asp-route-pageIndex=@(Model.PageIndex - 1)
   asp-route-search="@Model.Search"
   class="btn btn-primary @prevDisabled">
    Prethodno
</a>
<a asp-action="Index"
   asp-route-sort="@Model.CurrentSort"
   asp-route-pageIndex=@(Model.PageIndex + 1)
   asp-route-search="@Model.Search"
   class="btn btn-primary @nextDisabled">
    Sledeće
</a>
