@model TkanicaWebApp.ViewModels.PageViewModel<MembershipFee>

@{
    ViewData["Title"] = "Lista članarina";
}

<h1>Lista članarina</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="nameAsc" asp-route-currentSort="@Model.CurrentSort">Naziv</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="memberGroupAsc" asp-route-currentSort="@Model.CurrentSort">Grupa</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="amountAsc" asp-route-currentSort="@Model.CurrentSort">Iznos</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="activeMembersCountAsc" asp-route-currentSort="@Model.CurrentSort">Broj aktivnih članova</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="membersCountAsc" asp-route-currentSort="@Model.CurrentSort">Ukupan broj članova</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
            int activeCount = item.Members.Count(x => x.Active);
            int totalCount = item.Members.Count;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => activeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => totalCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
